# General formatting options
Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 95
IndentWidth: 4
UseTab: Never

# Alignments
Cpp11BracedListStyle: true
AlignOperands: AlignAfterOperator
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
  AlignCaseColons: false
AlignConsecutiveTableGenBreakingDAGArgColons:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveTableGenCondOperatorColons:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveTableGenDefinitionColons:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignEscapedNewlines: LeftWithLastLine

# Indent preprocessor directives
IndentPPDirectives: AfterHash
PPIndentWidth: 4

# Attribute settings
AlwaysBreakAfterReturnType: None
BreakBeforeBraces: Allman
BreakAfterAttributes: Always
BreakConstructorInitializers: BeforeComma
AllowShortFunctionsOnASingleLine: None

# Break function arguments in calls
BinPackArguments: false
BinPackParameters: false

# Pointer and reference alignment
PointerAlignment: Left
ReferenceAlignment: Left
QualifierAlignment: Left
